.carta-arma {
  width: 800px;
  height: 100px;
  background: url(../imagenes/cartahutao.webp);
  margin: 10px;
  border-radius: 5px;
  border: solid black;
}

.carta-texto {
  p.substat {
    color: white;
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-style: bold;
  }
}

.grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 100px 50px;
  justify-items: center;
  align-items: center;
  .imgarma {
    img {
      width: 450px;
      height: auto;
      margin: 30px;
      text-align: justify;
      border-radius: 10px;
    }
  }
  .descripcion-arma {
    margin: 20px;
    font-size: large;
    text-indent: 5mm;
    grid-row: 2/4;
    grid-column: 1/2;
    &:hover {
      background-color: rgba(16, 7, 54, 0.9);
      color: white;
      max-width: fit-content;
      max-height: fit-content;
      font-weight: bold;
      border-radius: 5px;
      box-shadow: 5px 5px black;
    }
  }
  .tabla-armas {
    table {
      margin: 10px;
      text-align: center;
      border-collapse: collapse;
      display: flex;
      justify-content: center;
    }
    th {
      background-color: black;
      color: white;
    }
  }
  .refinamiento {
    font-style: italic;
    font-size: large;
    margin: 10px;
    background-color: aliceblue;
    border: 2px solid black;
    grid-row: 2/3;
    grid-column: 2/3;
    span {
      color: blue;
    }
  }
  .reflvl {
    margin: 10px;
    grid-row: 3/4;
    grid-column: 2/3;
    &:hover {
      background-color: aliceblue;
    }
  }
}
