.container2__crd--jean {
  background: url(../imagenes/cartajean.jpg);
}
.container2__crd--kaeya {
  background: url(../imagenes/cartakaeya.jpg);
}
.container2__crd--mona {
  background: url(../imagenes/cartamona.webp);
}
.container2__crd--razor {
  background: url(../imagenes/cartarazor.webp);
}
.container2__crd--noelle {
  background: url(../imagenes/cartanoelle.webp);
}
.container2__crd--venti {
  background: url(../imagenes/cartaventi.webp);
}
