.body--diluc {
  background: url(../imagenes/Fondo_Diluc.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--jean {
  background: url(../imagenes/Fondo_Jean.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--kaeya {
  background: url(../imagenes/Fondo_Kaeya.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--mona {
  background: url(../imagenes/Fondo_Mona.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--razor {
  background: url(../imagenes/Fondo_Razor.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--noelle {
  background: url(../imagenes/Fondo_Noelle.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--venti {
  background: url(../imagenes/Fondo_Venti.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
