/* Mixin y Variables */
@mixin descripcion {
  font-size: large;
  max-width: auto;
  text-indent: 5mm;
  grid-row: 3/4;
  grid-column: 2/3;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  font-style: oblique;
  font-weight: bolder;
}

$colores: (
  anemo: rgb(21, 143, 21),
  cryo: rgb(38, 216, 216),
  electro: rgb(109, 4, 179),
  geo: rgb(243, 243, 46),
  hydro: rgb(29, 75, 228),
  pyro: rgb(145, 9, 9),
);

.busqueda {
  margin: 30px;
}

.opciones {
  img {
    width: 100px;
    height: auto;
    margin: 10px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 1px 1px blue;
    background-color: rgba(37, 37, 138, 0.8);
    &:hover {
      background-color: rgba(16, 7, 54, 0.9);
      box-shadow: 3px 3px black;
    }
  }
}

.container2 {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  .container2__crd {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 800px;
    height: 125px;
    border-radius: 5px;
    border: solid black;
    margin-top: 10px;
  }
  .crd__txt {
    h3 {
      font-size: 40px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-style: oblique;
      margin-left: 10px;
    }
    h4 {
      font-size: 25px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-style: italic;
      color: rgb(68, 67, 67);
      margin-left: 10px;
    }
    p {
      color: gold;
      margin-left: 10px;
    }
  }
  .container2__img {
    grid-row: 2/4;
    grid-column: 1/2;
    height: auto;
    width: 300px;
    border-radius: 5px;
  }
  .container2__iframe {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 800px;
    height: 400px;
    margin: 10px;
    border-radius: 3px;
    &:hover {
      border-radius: 5px;
      box-shadow: 5px 5px 5px black;
    }
  }
  .container2__description {
    margin: 10px;
    padding: 10px;
    @include descripcion;
  }
  .container2__talent {
    grid-row: 4/5;
    grid-column: 1/2;
    width: 800px;
    height: auto;
    margin-bottom: 10px;
    img {
      height: 50px;
      width: auto;
      margin-right: 50px;
    }
  }
  .container2__const {
    grid-row: 4/5;
    grid-column: 2/3;
    width: 800px;
    height: auto;
    margin-bottom: 10px;
    img {
      height: 50px;
      width: auto;
      margin-right: 50px;
    }
  }
}

/* Fondo de pantalla */

.body--diluc {
  background: url(../imagenes/Fondo_Diluc.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--jean {
  background: url(../imagenes/Fondo_Jean.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--kaeya {
  background: url(../imagenes/Fondo_Kaeya.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--mona {
  background: url(../imagenes/Fondo_Mona.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--razor {
  background: url(../imagenes/Fondo_Razor.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--noelle {
  background: url(../imagenes/Fondo_Noelle.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.body--venti {
  background: url(../imagenes/Fondo_Venti.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

/* Carta de Personaje */
.container2__crd--diluc {
  background: url(../imagenes/cartadiluc.jpg);
}

.container2__crd--jean {
  background: url(../imagenes/cartaelegia.jpg);
}
.container2__crd--kaeya {
  background: url(../imagenes/cartakaeya.jpg);
}
.container2__crd--mona {
  background: url(../imagenes/cartamona.webp);
}
.container2__crd--razor {
  background: url(../imagenes/cartarazor.webp);
}
.container2__crd--noelle {
  background: url(../imagenes/cartanoelle.jpg);
  background-size: 900px;
  background-position: 50%;
}
.container2__crd--venti {
  background: url(../imagenes/cartaventi.webp);
}

/* Estilo h2 */

.titulo2--diluc {
  color: map-get($colores, pyro);
}
.titulo2--jean {
  color: map-get($colores, anemo);
}
.titulo2--kaeya {
  color: map-get($colores, cryo);
}
.titulo2--mona {
  color: map-get($colores, hydro);
}
.titulo2--razor {
  color: map-get($colores, electro);
}
.titulo2--noelle {
  color: map-get($colores, geo);
}
.titulo2--venti {
  color: map-get($colores, anemo);
}

/* Descripcion del Personaje */

.container2__description--diluc {
  background-color: map-get($colores, pyro);
}
.container2__description--jean {
  background-color: map-get($colores, anemo);
}
.container2__description--kaeya {
  background-color: map-get($colores, cryo);
}
.container2__description--mona {
  background-color: map-get($colores, hydro);
}
.container2__description--razor {
  background-color: map-get($colores, electro);
}
.container2__description--noelle {
  background-color: map-get($colores, geo);
}
.container2__description--venti {
  background-color: map-get($colores, anemo);
}

.container2__talent {
  .h3--diluc {
    font-size: 40px;
    color: map-get($colores, pyro);
  }
}
.container2__const {
  .h3--diluc {
    font-size: 40px;
    color: map-get($colores, pyro);
  }
}
.container2__talent {
  .h3--jean {
    font-size: 40px;
    color: map-get($colores, anemo);
  }
}
.container2__const {
  .h3--jean {
    font-size: 40px;
    color: map-get($colores, anemo);
  }
}
.container2__talent {
  .h3--kaeya {
    font-size: 40px;
    color: map-get($colores, cryo);
  }
}
.container2__const {
  .h3--kaeya {
    font-size: 40px;
    color: map-get($colores, cryo);
  }
}
.container2__talent {
  .h3--mona {
    font-size: 40px;
    color: map-get($colores, hydro);
  }
}
.container2__const {
  .h3--mona {
    font-size: 40px;
    color: map-get($colores, hydro);
  }
}
.container2__talent {
  .h3--razor {
    font-size: 40px;
    color: map-get($colores, electro);
  }
}
.container2__const {
  .h3--razor {
    font-size: 40px;
    color: map-get($colores, electro);
  }
}
.container2__talent {
  .h3--noelle {
    font-size: 40px;
    color: map-get($colores, geo);
  }
}
.container2__const {
  .h3--noelle {
    font-size: 40px;
    color: map-get($colores, geo);
  }
}
.container2__talent {
  .h3--venti {
    font-size: 40px;
    color: map-get($colores, anemo);
  }
}
.container2__const {
  .h3--venti {
    font-size: 40px;
    color: map-get($colores, anemo);
  }
}
