@import "index";
@import "personajes";
@import "armas";
@import "artefactos";
@import "contacto";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: url(../imagenes/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

/* Estilos Generales */

header {
  nav {
    ul {
      display: flex;
      width: auto;
      background-color: black;
      height: 40px;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        margin: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        a {
          text-decoration: none;
          color: white;
          &:hover {
            color: yellow;
          }
        }
      }
    }
  }
}

h1 {
  font-family: "Gothic", serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

h2 {
  font-size: 40px;
  margin-left: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 10px;
}

td,
th {
  border: 2px solid black;
  padding: 10px;
}

tr {
  background-color: rgba(250, 235, 215, 0.9);
  &:hover {
    background-color: orange;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.925);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-top: 10px rgba(0, 0, 255, 0.603) inset;
  .footer__logo {
    img {
      width: 150px;
      height: auto;
    }
  }
  p {
    margin-bottom: 5px;
  }
  .footer__links {
    ul {
      display: flex;
      flex-direction: column;
      width: auto;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        padding: 5px;
        a {
          text-decoration: none;
          color: white;
          &:hover {
            color: yellow;
          }
        }
      }
    }
  }
  .footer__info {
    p {
      margin: 5px;
      padding: 5px;
    }
  }

  .footer__social {
    img {
      width: 50px;
      height: auto;
      margin: 5px;
    }
  }
}

/* MEDIA QUERIES */

/* TABLET */

@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    height: fit-content;
  }
  /* index */

  .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: justify;
    font-size: large;
    font-style: bold;
  }
  .container1 .container1__title {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .container1 .container1__carousel {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 100%;
    height: auto;
  }
  .container1 .container1__txtindex {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .container1 .container1__img1 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container1 .container1__txt1 {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .container1 .container1__img2 {
    grid-row: 5/6;
    grid-column: 2/3;
  }
  .container1 .container1__txt2 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .container1 .container1__img3 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .container1 .container1__txt3 {
    grid-row: 6/7;
    grid-column: 2/3;
  }
  .container1 .container1__img4 {
    grid-row: 7/8;
    grid-column: 2/3;
  }
  .container1 .container1__txt4 {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  /* Página de Personajes */

  .container2 {
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
  }
  .container2 .container2__crd {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 700px;
  }

  .container2 .container2__img {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container2 .container2__iframe {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 700px;
  }

  .container2 .container2__description {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container2 .container2__talent {
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 700px;
  }

  .container2 .container2__const {
    grid-row: 6/7;
    grid-column: 1/2;
    max-width: 700px;
  }

  /* Pagina de Armas */

  h2 {
    margin-left: 0;
  }

  .busqueda {
    margin-left: 10px;
  }

  .container3 {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
  }
  .container3 .container3__crdweapon {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container3 .container3__img {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container3 .container3__description {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container3 .container3__tbl {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container3 .container3__refin {
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 700px;
  }

  /* Página de Artefactos */

  .container4 {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
  }
  .container4 .container4__title {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .container4 .container4__nametbl1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .container4 .container4__tbl1 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .container4 .container4__stats {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container4 .container4__nametbl2 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .container4 .container4__tbl2 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .container4 .container4__tbl3 {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  .container4 .container4__namemodals {
    grid-row: 8/9;
    grid-column: 1/2;
  }
  .container4 .container4__modals {
    grid-row: 9/10;
    grid-column: 1/2;
  }

  .container4 .container4__modals button img {
    width: 50px;
    height: auto;
  }

  /* Página de Contacto */

  .container5 {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-columns: auto;
    gap: 10px;
  }
  .container5 .container5__title {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .container5 .container5__msj {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .container5 .container5__form {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .container5 .container5__img {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container5 .container5__img img {
    width: 500px;
    height: auto;
    border-radius: 50px;
    box-shadow: 5px 5px black;
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .container5 .container5__iframe {
    grid-row: 6/7;
    grid-column: 1/2;
    margin-left: 50px;
  }
  .container5 .container5__iframe iframe {
    width: 500px;
    height: 500px;
    margin: 10px;
    margin-left: 50px;
    border-radius: 5px;
  }
  .container5 .container5__links {
    grid-row: 7/8;
    grid-column: 1/2;
    margin-left: 50px;
  }
  .container5 .container5__links li {
    list-style: disc;
    margin: 10px;
    margin-left: 50px;
  }
}

/* Media Query Mobile */

@media (max-width: 480px) {
  header nav ul {
    flex-direction: column;
    height: fit-content;
  }
  /* index */

  .container1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(11, auto);
  }
  .container1 .container1__title {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .container1 .container1__carousel {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    height: auto;
  }
  .container1 .container1__txtindex {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .container1 .container1__img1 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container1 .container1__txt1 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .container1 .container1__img2 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .container1 .container1__txt2 {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  .container1 .container1__img3 {
    grid-row: 8/9;
    grid-column: 1/2;
  }
  .container1 .container1__txt3 {
    grid-row: 9/10;
    grid-column: 1/2;
  }
  .container1 .container1__img4 {
    grid-row: 10/11;
    grid-column: 1/2;
  }
  .container1 .container1__txt4 {
    grid-row: 11/12;
    grid-column: 1/2;
  }
  /* Página de Personajes */

  .container2 {
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: auto;
  }
  .container2 .container2__crd {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 400px;
  }

  .container2 .container2__img {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 400px;
  }
  .container2 .container2__iframe {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 400px;
  }

  .container2 .container2__description {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 400px;
  }
  .container2 .container2__talent {
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 400px;
  }

  .container2 .container2__const {
    grid-row: 6/7;
    grid-column: 1/2;
    max-width: 400px;
  }

  /* Pagina de Armas */

  h2 {
    margin-left: 0;
  }

  .busqueda {
    margin-left: 10px;
  }

  .container3 {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
  }
  .container3 .container3__crdweapon {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 400px;
    justify-self: left;
    margin: 10px;
  }
  .container3 .container3__img {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 400px;
    justify-self: left;
    margin: 10px;
  }
  .container3 .container3__description {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 400px;
    justify-self: left;
    margin: 10px;
  }
  .container3 .container3__tbl {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 400px;
  }
  .container3 .container3__refin {
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 400px;
  }

  /* Página de Artefactos */

  .container4 {
    display: grid;
    grid-template-rows: repeat(11, auto);
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    justify-content: start;
  }
  .container4 .container4__title {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 300px;
  }

  .container4 .container4__nametbl1 {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__tbl1 {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__tbl1 table {
    margin: 0;
  }
  .container4 .container4__stats {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__nametbl2 {
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__tbl2 {
    grid-row: 6/7;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__tbl2 table {
    margin: 0;
  }
  .container4 .container4__tbl3 {
    grid-row: 7/8;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__namemodals {
    grid-row: 8/9;
    grid-column: 1/2;
  }
  .container4 .container4__modals {
    grid-row: 9/11;
    grid-column: 1/2;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: space-between;
  }

  .container4 .container4__modals button img {
    display: none;
  }

  /* Página de Contacto */

  .container5 {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-columns: auto;
    gap: 10px;
    justify-content: start;
  }
  .container5 .container5__title {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 350px;
    margin-left: 10px;
  }
  .container5 .container5__msj {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 350px;
    margin-left: 30px;
  }
  .container5 .container5__form {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: center;
  }
  .container5 .container5__form textarea {
    max-width: 350px;
    margin-left: 0;
  }

  .container5 .container5__img {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container5 .container5__img img {
    width: 400px;
    height: auto;
    border-radius: 50px;
    box-shadow: 5px 5px black;
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 350px;
  }
  .container5 .container5__iframe {
    grid-row: 6/7;
    grid-column: 1/2;
    margin-left: 10px;
    max-width: 350px;
  }
  .container5 .container5__iframe iframe {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
    max-width: 350px;
  }
  .container5 .container5__links {
    grid-row: 7/8;
    grid-column: 1/2;
    margin-left: 20px;
  }
  .container5 .container5__links li {
    list-style: disc;
    margin: 10px;
    margin-left: 40px;
  }

  /* Footer */

  .footer__logo {
    display: none;
  }
  .footer__social {
    display: none;
  }
}
