@charset "UTF-8";
.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  gap: 10px;
  justify-items: center;
  align-items: center;
  text-align: justify;
  font-size: large;
  font-style: bold;
}
.container1 .container1__title {
  grid-row: 1/2;
  grid-column: 1/3;
}
.container1 .container1__carousel {
  grid-row: 2/3;
  grid-column: 1/3;
  width: 100%;
  height: auto;
}
.container1 .container1__txtindex {
  grid-row: 3/4;
  grid-column: 1/3;
  font-size: 25px;
  text-align: center;
  margin: 10px 60px 20px 60px;
  font-weight: bolder;
  font-style: italic;
  border: 4px double black;
  border-radius: 3px;
  box-shadow: 3px 3px black;
  background-color: #8c8312;
}
.container1 .container1__img1 {
  grid-row: 4/5;
  grid-column: 1/2;
  margin: 10px;
  box-shadow: 5px 5px black;
}
.container1 .container1__txt1 {
  grid-row: 4/5;
  grid-column: 2/3;
  margin: 50px;
  padding: 10px;
  text-indent: 5mm;
  max-width: 600px;
  font-weight: bold;
  font-style: oblique;
  border: 4px double black;
  border-radius: 3px;
  box-shadow: 3px 3px black;
  background-color: rgba(6, 149, 245, 0.8784313725);
}
.container1 .container1__img2 {
  grid-row: 5/6;
  grid-column: 2/3;
  margin: 10px;
  box-shadow: 5px 5px black;
}
.container1 .container1__txt2 {
  grid-row: 5/6;
  grid-column: 1/2;
  margin: 50px;
  padding: 10px;
  text-indent: 5mm;
  max-width: 600px;
  font-weight: bold;
  font-style: oblique;
  border: 4px double black;
  border-radius: 3px;
  box-shadow: 3px 3px black;
  background-color: rgba(6, 149, 245, 0.8784313725);
}
.container1 .container1__img3 {
  grid-row: 6/7;
  grid-column: 1/2;
  margin: 10px;
  box-shadow: 5px 5px black;
}
.container1 .container1__txt3 {
  grid-row: 6/7;
  grid-column: 2/3;
  margin: 50px;
  padding: 10px;
  text-indent: 5mm;
  max-width: 600px;
  font-weight: bold;
  font-style: oblique;
  border: 4px double black;
  border-radius: 3px;
  box-shadow: 3px 3px black;
  background-color: rgba(6, 149, 245, 0.8784313725);
}
.container1 .container1__img4 {
  grid-row: 7/8;
  grid-column: 2/3;
  margin: 10px;
  box-shadow: 5px 5px black;
}
.container1 .container1__txt4 {
  grid-row: 7/8;
  grid-column: 1/2;
  margin: 50px;
  padding: 10px;
  text-indent: 5mm;
  max-width: 600px;
  font-weight: bold;
  font-style: oblique;
  border: 4px double black;
  border-radius: 3px;
  box-shadow: 3px 3px black;
  background-color: rgba(6, 149, 245, 0.8784313725);
}

/* Mixin y Variables */
.busqueda {
  margin: 30px;
}

.opciones img {
  width: 100px;
  height: auto;
  margin: 10px;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 1px 1px blue;
  background-color: rgba(37, 37, 138, 0.8);
}
.opciones img:hover {
  background-color: rgba(16, 7, 54, 0.9);
  box-shadow: 3px 3px black;
}

.container2 {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.container2 .container2__crd {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 800px;
  height: 125px;
  border-radius: 5px;
  border: solid black;
  margin-top: 10px;
}
.container2 .crd__txt h3 {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: oblique;
  margin-left: 10px;
}
.container2 .crd__txt h4 {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgb(68, 67, 67);
  margin-left: 10px;
}
.container2 .crd__txt p {
  color: gold;
  margin-left: 10px;
}
.container2 .container2__img {
  grid-row: 2/4;
  grid-column: 1/2;
  height: auto;
  width: 300px;
  border-radius: 5px;
}
.container2 .container2__iframe {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 800px;
  height: 400px;
  margin: 10px;
  border-radius: 3px;
}
.container2 .container2__iframe:hover {
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}
.container2 .container2__description {
  margin: 10px;
  padding: 10px;
  font-size: large;
  max-width: auto;
  text-indent: 5mm;
  grid-row: 3/4;
  grid-column: 2/3;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  font-style: oblique;
  font-weight: bolder;
}
.container2 .container2__talent {
  grid-row: 4/5;
  grid-column: 1/2;
  width: 800px;
  height: auto;
  margin-bottom: 10px;
}
.container2 .container2__talent img {
  height: 50px;
  width: auto;
  margin-right: 50px;
}
.container2 .container2__const {
  grid-row: 4/5;
  grid-column: 2/3;
  width: 800px;
  height: auto;
  margin-bottom: 10px;
}
.container2 .container2__const img {
  height: 50px;
  width: auto;
  margin-right: 50px;
}

/* Fondo de pantalla */
.body--diluc {
  background: url(../imagenes/Fondo_Diluc.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.body--jean {
  background: url(../imagenes/Fondo_Jean.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.body--kaeya {
  background: url(../imagenes/Fondo_Kaeya.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.body--mona {
  background: url(../imagenes/Fondo_Mona.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.body--razor {
  background: url(../imagenes/Fondo_Razor.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.body--noelle {
  background: url(../imagenes/Fondo_Noelle.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.body--venti {
  background: url(../imagenes/Fondo_Venti.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

/* Carta de Personaje */
.container2__crd--diluc {
  background: url(../imagenes/cartadiluc.jpg);
}

.container2__crd--jean {
  background: url(../imagenes/cartaelegia.jpg);
}

.container2__crd--kaeya {
  background: url(../imagenes/cartakaeya.jpg);
}

.container2__crd--mona {
  background: url(../imagenes/cartamona.webp);
}

.container2__crd--razor {
  background: url(../imagenes/cartarazor.webp);
}

.container2__crd--noelle {
  background: url(../imagenes/cartanoelle.jpg);
  background-size: 900px;
  background-position: 50%;
}

.container2__crd--venti {
  background: url(../imagenes/cartaventi.webp);
}

/* Estilo h2 */
.titulo2--diluc {
  color: rgb(145, 9, 9);
}

.titulo2--jean {
  color: rgb(21, 143, 21);
}

.titulo2--kaeya {
  color: rgb(38, 216, 216);
}

.titulo2--mona {
  color: rgb(29, 75, 228);
}

.titulo2--razor {
  color: rgb(109, 4, 179);
}

.titulo2--noelle {
  color: rgb(243, 243, 46);
}

.titulo2--venti {
  color: rgb(21, 143, 21);
}

/* Descripcion del Personaje */
.container2__description--diluc {
  background-color: rgb(145, 9, 9);
}

.container2__description--jean {
  background-color: rgb(21, 143, 21);
}

.container2__description--kaeya {
  background-color: rgb(38, 216, 216);
}

.container2__description--mona {
  background-color: rgb(29, 75, 228);
}

.container2__description--razor {
  background-color: rgb(109, 4, 179);
}

.container2__description--noelle {
  background-color: rgb(243, 243, 46);
}

.container2__description--venti {
  background-color: rgb(21, 143, 21);
}

.container2__talent .h3--diluc {
  font-size: 40px;
  color: rgb(145, 9, 9);
}

.container2__const .h3--diluc {
  font-size: 40px;
  color: rgb(145, 9, 9);
}

.container2__talent .h3--jean {
  font-size: 40px;
  color: rgb(21, 143, 21);
}

.container2__const .h3--jean {
  font-size: 40px;
  color: rgb(21, 143, 21);
}

.container2__talent .h3--kaeya {
  font-size: 40px;
  color: rgb(38, 216, 216);
}

.container2__const .h3--kaeya {
  font-size: 40px;
  color: rgb(38, 216, 216);
}

.container2__talent .h3--mona {
  font-size: 40px;
  color: rgb(29, 75, 228);
}

.container2__const .h3--mona {
  font-size: 40px;
  color: rgb(29, 75, 228);
}

.container2__talent .h3--razor {
  font-size: 40px;
  color: rgb(109, 4, 179);
}

.container2__const .h3--razor {
  font-size: 40px;
  color: rgb(109, 4, 179);
}

.container2__talent .h3--noelle {
  font-size: 40px;
  color: rgb(243, 243, 46);
}

.container2__const .h3--noelle {
  font-size: 40px;
  color: rgb(243, 243, 46);
}

.container2__talent .h3--venti {
  font-size: 40px;
  color: rgb(21, 143, 21);
}

.container2__const .h3--venti {
  font-size: 40px;
  color: rgb(21, 143, 21);
}

.container3 {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.container3 .container3__crdweapon {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 800px;
  height: 125px;
  background: url(../imagenes/cartaarma.jpg);
  border-radius: 5px;
  border: solid black;
  margin-top: 10px;
}
.container3 .crdweapon__txt h3 {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: oblique;
  margin-left: 10px;
}
.container3 .crdweapon__txt h4 {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgb(68, 67, 67);
  margin-left: 10px;
}
.container3 .crdweapon__txt p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: oblique;
  margin-left: 10px;
}
.container3 .container3__img {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 450px;
  height: 300px;
  margin: 30px;
  border-radius: 10px;
}
.container3 .container3__description {
  grid-row: 3/4;
  grid-column: 1/2;
  margin: 5px;
  padding: 10px;
  font-size: large;
  text-indent: 5mm;
  width: 800px;
  height: auto;
  background-color: rgba(16, 7, 54, 0.9);
  color: white;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 5px 5px black;
}
.container3 .container3__tbl {
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 10px;
  text-align: center;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}
.container3 .container3__tbl th {
  background-color: black;
  color: white;
}
.container3 .container3__refin {
  grid-row: 3/4;
  grid-column: 2/3;
  width: 800px;
  height: auto;
  margin-bottom: 10px;
}

.container4 {
  display: grid;
  grid-template-rows: repeat(7, auto);
  grid-template-columns: 800px 800px;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}
.container4 .container4__title {
  grid-row: 1/2;
  grid-column: 1/3;
}
.container4 .container4__title h2 {
  color: black;
}
.container4 .container4__title p {
  font-size: medium;
  text-indent: 5px;
  font-style: oblique;
  font-weight: bold;
  color: black;
  margin: 5px;
  max-width: 1600px;
  text-align: left;
  text-indent: 5px;
}
.container4 .container4__nametbl1 {
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 10px;
}
.container4 .container4__nametbl1 h2 {
  color: black;
}
.container4 .container4__nametbl1 p {
  font-size: medium;
  text-indent: 5px;
  font-style: oblique;
  font-weight: bold;
  color: black;
  margin-left: 10px;
}
.container4 .container4__tbl1 {
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: center;
}
.container4 .container4__tbl1 table {
  border-collapse: collapse;
  text-align: center;
  margin: 10px;
}
.container4 .container4__tbl1 th {
  background-color: black;
  color: white;
}
.container4 .container4__stats {
  grid-row: 2/4;
  grid-column: 2/3;
  width: 600px;
  margin-bottom: 10px;
}
.container4 .container4__nametbl2 {
  grid-row: 4/5;
  grid-column: 1/2;
  margin: 10px;
}
.container4 .container4__nametbl2 h2 {
  color: black;
}
.container4 .container4__nametbl2 p {
  font-size: medium;
  text-indent: 5px;
  font-style: oblique;
  font-weight: bold;
  color: black;
  margin-left: 10px;
}
.container4 .container4__tbl2 {
  grid-row: 5/6;
  grid-column: 1/2;
  justify-self: center;
}
.container4 .container4__tbl2 table {
  border-collapse: collapse;
  text-align: center;
  margin: 20px;
}
.container4 .container4__tbl2 th {
  background-color: black;
  color: white;
}
.container4 .container4__tbl3 {
  grid-row: 5/6;
  grid-column: 2/3;
  justify-self: center;
}
.container4 .container4__tbl3 table {
  border-collapse: collapse;
  text-align: center;
  margin: 20px;
}
.container4 .container4__tbl3 th {
  background-color: black;
  color: white;
}
.container4 .container4__namemodals {
  grid-row: 6/7;
  grid-column: 1/3;
  margin: 10px;
}
.container4 .container4__namemodals h2 {
  color: black;
}
.container4 .container4__modals {
  grid-row: 7/8;
  grid-column: 1/3;
  margin: 10px;
  display: flex;
}
.container4 .container4__modals button {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.container4 .container4__modals button img {
  width: 120px;
  height: auto;
}

.container5 {
  display: grid;
  grid-template-areas: "crd crd" "msj msj" "form img" "form img" "form img" "link iframe" "link iframe";
  justify-content: space-around;
  gap: 10px;
}
.container5 .container5__title {
  grid-area: crd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 100px;
  background: url(../imagenes/contactanos.webp);
  margin: 10px;
  border-radius: 5px;
  border: solid black;
}
.container5 .container5__msj {
  grid-area: msj;
  font-size: large;
  font-weight: bold;
  margin: 10px;
}
.container5 .container5__form {
  grid-area: form;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container5 .container5__form div {
  margin: 10px;
}
.container5 .container5__form div textarea {
  width: 500px;
}
.container5 .container5__form form:hover {
  background-color: rgba(217, 4, 39, 0.8901960784);
  color: beige;
  font-weight: bold;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border-radius: 5px;
}
.container5 .container5__img {
  grid-area: img;
  justify-self: center;
}
.container5 .container5__img img {
  width: 500px;
  height: auto;
  border-radius: 50px;
  box-shadow: 5px 5px black;
  grid-row: 2/4;
  grid-column: 2/3;
}
.container5 .container5__img img:hover {
  box-shadow: 5px 5px red;
}
.container5 .container5__iframe {
  grid-area: iframe;
}
.container5 .container5__iframe a:visited {
  color: black;
}
.container5 .container5__iframe a:hover {
  color: rgb(82, 19, 230);
}
.container5 .container5__iframe iframe {
  width: 700px;
  height: 500px;
  margin: 10px;
  border-radius: 5px;
}
.container5 .container5__links li {
  list-style: disc;
  margin: 50px;
}
.container5 .container5__links li a {
  font-size: larger;
}
.container5 .container5__links li a:visited {
  color: black;
}
.container5 .container5__links li a:hover {
  color: rgb(82, 19, 230);
}
.container5 .container5__links li a h3 {
  font-size: larger;
  font-style: oblique;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: url(../imagenes/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

/* Estilos Generales */
header nav ul {
  display: flex;
  width: auto;
  background-color: black;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
header nav ul li {
  list-style: none;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header nav ul li a:hover {
  color: yellow;
}

h1 {
  font-family: "Gothic", serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

h2 {
  font-size: 40px;
  margin-left: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 10px;
}

td,
th {
  border: 2px solid black;
  padding: 10px;
}

tr {
  background-color: rgba(250, 235, 215, 0.9);
}
tr:hover {
  background-color: orange;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.925);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-top: 10px rgba(0, 0, 255, 0.603) inset;
}
footer .footer__logo img {
  width: 150px;
  height: auto;
}
footer p {
  margin-bottom: 5px;
}
footer .footer__links ul {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0;
  margin: 0;
}
footer .footer__links ul li {
  list-style: none;
  padding: 5px;
}
footer .footer__links ul li a {
  text-decoration: none;
  color: white;
}
footer .footer__links ul li a:hover {
  color: yellow;
}
footer .footer__info p {
  margin: 5px;
  padding: 5px;
}
footer .footer__social img {
  width: 50px;
  height: auto;
  margin: 5px;
}

/* MEDIA QUERIES */
/* TABLET */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
  /* index */
  .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: justify;
    font-size: large;
    font-style: bold;
  }
  .container1 .container1__title {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .container1 .container1__carousel {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 100%;
    height: auto;
  }
  .container1 .container1__txtindex {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .container1 .container1__img1 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container1 .container1__txt1 {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .container1 .container1__img2 {
    grid-row: 5/6;
    grid-column: 2/3;
  }
  .container1 .container1__txt2 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .container1 .container1__img3 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .container1 .container1__txt3 {
    grid-row: 6/7;
    grid-column: 2/3;
  }
  .container1 .container1__img4 {
    grid-row: 7/8;
    grid-column: 2/3;
  }
  .container1 .container1__txt4 {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  /* Página de Personajes */
  .container2 {
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
  }
  .container2 .container2__crd {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container2 .container2__img {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container2 .container2__iframe {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container2 .container2__description {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container2 .container2__talent {
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container2 .container2__const {
    grid-row: 6/7;
    grid-column: 1/2;
    max-width: 700px;
  }
  /* Pagina de Armas */
  h2 {
    margin-left: 0;
  }
  .busqueda {
    margin-left: 10px;
  }
  .container3 {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
  }
  .container3 .container3__crdweapon {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container3 .container3__img {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container3 .container3__description {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container3 .container3__tbl {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 700px;
  }
  .container3 .container3__refin {
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 700px;
  }
  /* Página de Artefactos */
  .container4 {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
  }
  .container4 .container4__title {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .container4 .container4__nametbl1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .container4 .container4__tbl1 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .container4 .container4__stats {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container4 .container4__nametbl2 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .container4 .container4__tbl2 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .container4 .container4__tbl3 {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  .container4 .container4__namemodals {
    grid-row: 8/9;
    grid-column: 1/2;
  }
  .container4 .container4__modals {
    grid-row: 9/10;
    grid-column: 1/2;
  }
  .container4 .container4__modals button img {
    width: 50px;
    height: auto;
  }
  /* Página de Contacto */
  .container5 {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-columns: auto;
    gap: 10px;
  }
  .container5 .container5__title {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .container5 .container5__msj {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .container5 .container5__form {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .container5 .container5__img {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container5 .container5__img img {
    width: 500px;
    height: auto;
    border-radius: 50px;
    box-shadow: 5px 5px black;
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .container5 .container5__iframe {
    grid-row: 6/7;
    grid-column: 1/2;
    margin-left: 50px;
  }
  .container5 .container5__iframe iframe {
    width: 500px;
    height: 500px;
    margin: 10px;
    margin-left: 50px;
    border-radius: 5px;
  }
  .container5 .container5__links {
    grid-row: 7/8;
    grid-column: 1/2;
    margin-left: 50px;
  }
  .container5 .container5__links li {
    list-style: disc;
    margin: 10px;
    margin-left: 50px;
  }
}
/* Media Query Mobile */
@media (max-width: 480px) {
  header nav ul {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
  /* index */
  .container1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(11, auto);
  }
  .container1 .container1__title {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .container1 .container1__carousel {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    height: auto;
  }
  .container1 .container1__txtindex {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .container1 .container1__img1 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container1 .container1__txt1 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .container1 .container1__img2 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .container1 .container1__txt2 {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  .container1 .container1__img3 {
    grid-row: 8/9;
    grid-column: 1/2;
  }
  .container1 .container1__txt3 {
    grid-row: 9/10;
    grid-column: 1/2;
  }
  .container1 .container1__img4 {
    grid-row: 10/11;
    grid-column: 1/2;
  }
  .container1 .container1__txt4 {
    grid-row: 11/12;
    grid-column: 1/2;
  }
  /* Página de Personajes */
  .container2 {
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: auto;
  }
  .container2 .container2__crd {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 400px;
  }
  .container2 .container2__img {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 400px;
  }
  .container2 .container2__iframe {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 400px;
  }
  .container2 .container2__description {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 400px;
  }
  .container2 .container2__talent {
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 400px;
  }
  .container2 .container2__const {
    grid-row: 6/7;
    grid-column: 1/2;
    max-width: 400px;
  }
  /* Pagina de Armas */
  h2 {
    margin-left: 0;
  }
  .busqueda {
    margin-left: 10px;
  }
  .container3 {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
  }
  .container3 .container3__crdweapon {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 400px;
    justify-self: left;
    margin: 10px;
  }
  .container3 .container3__img {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 400px;
    justify-self: left;
    margin: 10px;
  }
  .container3 .container3__description {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 400px;
    justify-self: left;
    margin: 10px;
  }
  .container3 .container3__tbl {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 400px;
  }
  .container3 .container3__refin {
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 400px;
  }
  /* Página de Artefactos */
  .container4 {
    display: grid;
    grid-template-rows: repeat(11, auto);
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    justify-content: start;
  }
  .container4 .container4__title {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__nametbl1 {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__tbl1 {
    grid-row: 3/4;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__tbl1 table {
    margin: 0;
  }
  .container4 .container4__stats {
    grid-row: 4/5;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__nametbl2 {
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__tbl2 {
    grid-row: 6/7;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__tbl2 table {
    margin: 0;
  }
  .container4 .container4__tbl3 {
    grid-row: 7/8;
    grid-column: 1/2;
    max-width: 300px;
  }
  .container4 .container4__namemodals {
    grid-row: 8/9;
    grid-column: 1/2;
  }
  .container4 .container4__modals {
    grid-row: 9/11;
    grid-column: 1/2;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: space-between;
  }
  .container4 .container4__modals button img {
    display: none;
  }
  /* Página de Contacto */
  .container5 {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-columns: auto;
    gap: 10px;
    justify-content: start;
  }
  .container5 .container5__title {
    grid-row: 1/2;
    grid-column: 1/2;
    max-width: 350px;
    margin-left: 10px;
  }
  .container5 .container5__msj {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 350px;
    margin-left: 30px;
  }
  .container5 .container5__form {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: center;
  }
  .container5 .container5__form textarea {
    max-width: 350px;
    margin-left: 0;
  }
  .container5 .container5__img {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .container5 .container5__img img {
    width: 400px;
    height: auto;
    border-radius: 50px;
    box-shadow: 5px 5px black;
    grid-row: 5/6;
    grid-column: 1/2;
    max-width: 350px;
  }
  .container5 .container5__iframe {
    grid-row: 6/7;
    grid-column: 1/2;
    margin-left: 10px;
    max-width: 350px;
  }
  .container5 .container5__iframe iframe {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
    max-width: 350px;
  }
  .container5 .container5__links {
    grid-row: 7/8;
    grid-column: 1/2;
    margin-left: 20px;
  }
  .container5 .container5__links li {
    list-style: disc;
    margin: 10px;
    margin-left: 40px;
  }
  /* Footer */
  .footer__logo {
    display: none;
  }
  .footer__social {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */